/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(to top right,#1a7f56, pink);
    color: #495057;
  }

  .row{
    height: 80vh;
  }

  
  .container {
    max-width: 1200px;
    height: 100vh;
  }
  
  .card {
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 30px;
  }
  
  h4.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #1a7f56;
  }
  
  p {
    color: #6c757d;
  }
  
  /* Flash Message Styles */
  #flash-message-container {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 90%;
    max-width: 600px;
}

.flash-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 15px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flash-message button.close {
    background: transparent;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.flash-message.alert-success {
    background-color: #1a7f56;
}

  
  /* Left-side Contact Information */
  .left-side .details {
    margin-bottom: 25px;
  }
  
  .left-side .topic {
    font-size: 18px;
    font-weight: bold;
    color: #1a7f56;
  }
  
  .left-side .text-one,
  .left-side .text-two {
    font-size: 16px;
    color: #6c757d;
  }
  
  /* Right-side Contact Form */
  .right-side .topic-text {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #1a7f56;
  }
  
  .right-side p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #6c757d;
  }
  
  .input-box {
    margin-bottom: 15px;
  }
  
  .input-box input,
  .input-box textarea {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 15px;
    width: 100%;
    font-size: 16px;
  }
  
  .input-box input:focus,
  .input-box textarea:focus {
    border-color: #1a7f56;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  }
  
  .message-box textarea {
    height: 120px;
  }
  
  button[type="submit"] {
    background-color: #1a7f56;
    color: white;
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #1a7f56;
  }
  
  /* Responsive Design */
  @media (max-width: 767px) {
    .left-side, .right-side {
      margin-bottom: 30px;
    }
    .card-body {
      padding: 20px;
    }
    h4.card-title {
      font-size: 20px;
    }
    .input-box input, .input-box textarea {
      font-size: 14px;
    }
  }
  