<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot.css') }}">
</head>
<body>
    <div class="chat-container" style="background-image: url('{{url_for('static',filename='images/bg.avif')}}');
    background-repeat:  none;
    background-size: cover;">
<div class="ai-chat-box">
    <img src="ai.png" alt="" id="aiImage" width="10%">
    <div class="ai-chat-area">
   Hello ! How Can I Help you Today?
    </div>
   
</div>
    </div>
    <div class="prompt-area">
<input type="text" id="prompt" placeholder="Message...">
<button id="image"><img src="{{ url_for('static', filename='images/img.svg') }}" alt="">
<input type="file" accept="images/*" hidden></button>
<button id="submit"><img src="{{ url_for('static', filename='images/submit.svg') }}" alt=""></button>
    </div>
  <script src="{{ url_for('static', filename='javascript/chatbot.js') }}"></script>  
</body>
</html>