<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Div Ingine Adamin Panel Design Html css js</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/website/static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/website/static/css/ssss.css">
    <link rel="stylesheet" href="/website/static/css/layout.css">
    <link rel="stylesheet" href="/website/static/css/style.css">
    <link rel="stylesheet" href="/website/static/css/responsive.css">
    

</head>
<body>
    <div class="main-wrapper">
 <!-- -----------------NAVBAR--------------- -->
  <div class="header-container fixed-top">
    <header class="header navbar navbar-expand-sm navbar-expand-header">
        <div class="header-left d-flex">
            <div class="logo">
                    DevIngine
            </div>
            <a href="" class="sidebarCollapse" data-placement="bottom">
                <span class="fas fa-bars"></span>
            </a>
</div>
<ul class="navbar-item flex-row ml-auto">
    <li class="nav-item dropdown user-profile-dropdown">
        <a href="" class="nav-link user" id="Notify" data-bs-toggle="dropdown">
            <img src="/website/static/images/bell.png" alt="" class="">
         <p class="count">5</p>
        </a>
    </li>
</ul>
    </header>
  </div>
    </div>
</body>










<script src="/website/static/javascript/jquery.min.js"></script>
<script src="/website/static/javascript/Bootstap/bootstrap.bundle.min.js"></script>
<script src="/website/static/javascript/main.js"></script>
</html>